<div id="container">
<div class="content">
    <h1>My Tasks</h1>
    </div>

    <div class="content">
    <ul>
      <% @tasks.each_with_index do |task, index| %>
        <li><div class="task">

          <%= index + 1%>
          -
          <%= link_to task[:title], "/task/#{task[:id]}" %>
          -
          <%= task[:details] %>

          <div class="action"><%= link_to "edit", edit_task_path(task[:id]) %></div>
          -  <span>-</span>  
          <div class="action"><%= link_to "delete", delete_task_path(task), method: :delete ,data: { confirm: "Are you sure?" }%></div>

          </div></li>

        <%= hidden_field_tag :id, task[:id] %>
      <% end %>
    </ul>
  </div>
  <!-- </div> -->

  <a href="/task/new"><div class="button">Create new task</div></a>



</div>
